src/main/mule/cicddemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="daedd092-1184-4be7-a234-977c263cf692" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicddemoFlow" doc:id="f6fa7f47-a2f1-4ceb-a5e2-66ef5d139b95" >
		<http:listener doc:name="Listener" doc:id="f8d01b4d-e8f8-48e3-8815-fd806109434d" config-ref="HTTP_Listener_config" path="/test">
			<http:response statusCode="#[vars.httpStatusCode default 500]" />
			<http:error-response statusCode="500" />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="7fc5141c-34d1-45f9-830f-3f4bd573a2d4" message="yes got it"/>
		<ee:transform doc:name="Transform Message" doc:id="f6502211-fcbb-4da3-a9e1-9ed64d7b1e9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var methodSelected = attributes.queryParams.method
var firstNumber = attributes.queryParams.firstNumber as Number
var secondNumber = attributes.queryParams.secondNumber as Number
---
{
	"method": methodSelected,
	(if(methodSelected == "Add")
		"result": firstNumber + secondNumber
	else if ((methodSelected == "Substract"))
		"result": firstNumber - secondNumber
	else if ((methodSelected == "Multiply"))
		"result": firstNumber * secondNumber
	else if ((methodSelected == "Divide"))
		"result": firstNumber / secondNumber
	else
		"result": "NA")
	}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatusCode" ><![CDATA[%dw 2.0
output application/java
var methodSelected = attributes.queryParams.method
---
(if(methodSelected == "Add")
		200
	else if ((methodSelected == "Substract"))
		200
	else if ((methodSelected == "Multiply"))
		200
	else if ((methodSelected == "Divide"))
		200
	else
		500)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
